.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.video{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 100vh;
}

.video video{
  width: 50vw;
}

